._inicio pagina web XD.psd
._Galeria (practica)
._css
._img
._.DS_Store
._Analoga.html
._Contacto.html
._Corporativo.html
._Digital.html
._Diseño.html
._Editorial.html
._Fotografia.html
._Ilustración.html
._Quien-soy.html
._index.html
Galeria (practica)/img/._8.jpg
Galeria (practica)/img/._1.jpg
Galeria (practica)/img/._2.jpg
Galeria (practica)/img/._3.jpg
Galeria (practica)/img/._4.jpg
Galeria (practica)/img/._5.jpg
Galeria (practica)/img/._6.jpg
Galeria (practica)/img/._7.jpg
img/._ilustracion8.jpg
img/._1.jpg
img/._2.jpg
img/._5.jpg
img/._6.jpg
img/._7.jpg
img/._8.jpg
img/._Banner.png
img/._Corporativo1.png
img/._Corporativo2.png
img/._Fondo-contacto.png
img/._Icono Leuk.png
img/._Ilustracion5.jpg
img/._Logo-Opciòn1.ai
img/._Presentación FOTOS.pptx
img/._Quien soy1.png
img/._Versión 1 Logo.png
img/._Versión 2 Logo.png
img/._analoga1.png
img/._analoga2.png
img/._analoga3.png
img/._analoga4.png
img/._analoga5.png
img/._analoga6.png
img/._analoga7.png
img/._analoga8.png
img/._corporativo3.png
img/._digital1.jpg
img/._editorial1.jpg
img/._formato medida de imagenes.pptx
img/._fotografia1.JPG
img/._fotografia2.JPG
img/._fotografia3.jpg
img/._fotografia4.jpg
img/._fotografia5.png
img/._fotografia6.png
img/._fotografia7.png
img/._fotografia8.png
img/._ilustracion1.jpg
img/._ilustracion2.jpg
img/._ilustracion3.jpg
img/._ilustracion4.jpg
img/._ilustracion6.jpg
img/._ilustracion7.jpg
img/Logo-Opciòn1.ai
img/Presentación FOTOS.pptx
css/._quien-soy-estilo.css
css/._analoga-estilos-generales.css
css/._contacto-estilos-generales.css
css/._corporativo-estilos-generales.css
css/._digital-estilos-generales.css
css/._editorial-estilos-generales.css
css/._estilos.css
css/._estilos-generales.css
css/._fotografia-estilos-generales.css
css/._home-estilos-generales.css
inicio pagina web XD.psd
Galeria (practica)/._Galeria.html
Galeria (practica)/._Galeria-2.html
Galeria (practica)/._estilos.css
Galeria (practica)/._estilos-2.css
img/formato medida de imagenes.pptx
